
nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 65px;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {

    color: #fff;
    margin: 0 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .4s;
}

nav ul li a:hover {
    background-color: rgba(23, 23, 23, 0.5);
    color: #F7941D;
}

.login {
    float: right;
    color: #fff;
}

a {
    text-decoration: none;
}

.login a {
    color: #fff;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login a:hover {
    color: #F7941D;

}












.wrapper{



    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-container{
    width: 100%;
    min-height: 100vh;
    display: flex; 
}
.bg-1{
    flex: 1;
    background-color: #333333;
}


.about-container{
    width: 75%;
    min-height: 58vh;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 40px;
    border-radius: 5px;
}
.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
}
.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 22px;
}
.text-container h1{
    font-size: 70px;
    padding: 20px 0px;
}
.text-container a{
    text-decoration: none;
    padding: 12px;
    margin: 50px 0px;
    background-color: #FFBB0F;
    border: 2px solid transparent;
    color: white;
    border-radius: 30px;
    transition: .3s all ease;
}
.text-container a:hover{
    background-color: transparent;
    color: rgb(241, 152, 17);
    border: 2px solid ;
}


.footer {
    background-color: #333333;
    padding: 40px 0;
}

.footer-container {
    width: 1170px;
    background-color: #F7941D;
    margin: auto;
}

.footer1 {
    display: flex;
    /* flex-wrap: wrap; */
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0px 15px;
}

.footer-col h4 {
    margin-left: 37px;
    font-size: 22px;
    color: #fff;
    /* font-style: italic; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize
}


.footer-col ul li {
    margin-bottom: 8px;
    text-transform: capitalize;
    text-decoration: none;

}

.footer-col ul li a {
    color: #333333;

}

.footer-col ul li a:hover {
    color: #fff;
    margin-left: 8px;
}

.footer-col ul a i {
    margin-left: 8px;

}