@font-face {
    font-family: Cookie;
    src: url(./Cookie/Cookie-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: aliceblue;
}



nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 65px;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {

    color: #fff;
    margin: 0 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .4s;
}

nav ul li a:hover {
    background-color: rgba(23, 23, 23, 0.5);
    color: #F7941D;
}

.login {
    float: right;
    color: #fff;
}

a {
    text-decoration: none;
}

.login a {
    color: #fff;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login a:hover {
    color: #F7941D;

}

/* _--------------------nav baar end____________________ */


.hero {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    /* background-color: blue; */

}

.slide {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background-color: violet; */
    position: absolute;
}

.slide {
    animation: slide 6s linear infinite;
}

@keyframes slide {
    0% {
        visibility: visible;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

.imageslider {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: zoom-in 4s linear infinite;
}

@keyframes zoom-in {
    100% {
        transform: scale(1.2);
    }
}

.content {
    width: 36%;
    position: absolute;
    top: 50px;
    left: 100px;
    transform: translateY(150px);
    animation: textup 6s linear infinite;
    padding-left: 330px;
}

.content-new {
    width: 36%;
    position: absolute;
    top: 50px;
    left: 100px;
    transform: translateY(150px);
    animation: textup 5s linear infinite;

}

@keyframes textup {
    10% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(50px);
    }

}

h2 {
    margin-bottom: 0px;
    font-size: 18px;
    color: #333333;
}

h1 {
    color: #333333;
    font-size: 35px;
    margin: 10px auto;
}

h3 {
    color: #333333;
    margin: 20px, auto, 80px;
    font-size: 17px;
}

hr {
    background-color: rgb(148, 90, 23);
    height: 1px;
    border: none;
}

.sliderbutton {
    padding: 10px 20px;
    border: 0;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    background-color: orangered;
    margin-top: 45px;
}

.sliderbutton:hover {
    color: #333333;
}

.slide1 {
    animation: slide1 6s linear infinite;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;


}

@keyframes slide1 {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}



/* slider div ended  */





/* contaniner div start */

.container {
    width: 100%;
    display: flex;
    margin-top: 5px;

}

.container-1 {
    width: 50%;
    background-image: url(./images/category-1.jpg.webp);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.imgDiv {
    color: #333333;
    padding-left: 30px;
}

.imgDiv h1 {
    color: #110b01;
    font-family: Cookie;
    font-weight: lighter;
    font-size: 3rem;
    /* margin-top: 25px; */
    padding-top: 30px;


}

.imgDiv p {

    padding-bottom: 20px;
    color: #746f6f;
}

.imgDiv a {
    text-decoration: none;
    color: black;
    padding-top: 20px;
    font-size: 20px;
    font-weight: lighter;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    
}



.container-1text {
    width: 450px;
    padding-left: 40px;
}

.container-1text h1 {
    color: black;
    font-family: Cookie;
    font-weight: lighter;
    font-size: 5rem;
}

.container-1text a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-top: 20px;
}

.container-1text p {
    margin-bottom: 40px;
    line-height: 22px;
    word-spacing: 3px;
}

.container--2 {
    width: 50%;
}

.con2_part {
    display: flex;
    margin-left: 10px;
}

.con2_part>div:first-child {
    margin-right: 10px;
}

.container--2>div:first-child {
    margin-bottom: 10px;
}

.container--2 h1 {
    margin: 0;
}

.imgDiv {
    background-image: url(./images/category-2.jpg.webp);
    height: 293px;
    width: 50%;
    background-position: top center;
}

.imgDiv2 {
    background-image: url(./images/category-3.jpg.webp);
}

.imgDiv3 {
    background-image: url(./images/category-4.jpg.webp);
}

.imgDiv4 {
    background-image: url(./images/category-5.jpg.webp);
}





.new-product {
    padding: 2.5rem 5.5rem;
}

.new-product h1 {
    color: black;
    font-weight: lighter;
    font-size: 30px;
    margin: 0;
    width: fit-content;
    margin-bottom: 20px !important;
    cursor: default;
    position: relative;
}

.new-product h1::after {
    content: "";
    background-color: rgb(151, 10, 10);
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all .6s;
}

.new-product h1:hover::after {
    width: 100%;
    left: 0;
}

.new-product1 {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.product-item1>div {
    text-align: center;
}

.product-item1>div>p:first-child {
    font-weight: lighter;
    text-transform: uppercase;
}

.product-item1>div>p:last-child {
    font-weight: bolder;
    font-family: monospace;
    font-size: 20px;
}


/* footer start */
.footer {
    background-color: #333333;
    padding: 40px 0;
}

.footer-container {
    width: 1170px;
    background-color: #F7941D;
    margin: auto;
}

.footer1 {
    display: flex;
    /* flex-wrap: wrap; */
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0px 15px;
}

.footer-col h4 {
    margin-left: 37px;
    font-size: 22px;
    color: #fff;
    /* font-style: italic; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize
}


.footer-col ul li {
    margin-bottom: 8px;
    text-transform: capitalize;
    text-decoration: none;

}

.footer-col ul li a {
    color: #333333;

}

.footer-col ul li a:hover {
    color: #fff;
    margin-left: 8px;
}

.footer-col ul a i {
    margin-left: 8px;

}